a {
    color: white;
    font-size: 1.5rem;
}
a:hover {
    color: green;
}

.error {
    font-size: 1.3rem;
    padding: 0.2rem;
    background-color: rgb(180, 100, 100);
    color: black;
    margin: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 3px solid rgb(80,0,0);
}
