#track-pane {
    min-height: 60svh;
    max-height: 60svh;
    min-width: 60svw;
    overflow: auto;
    overflow-x: hidden;
    border-left: 1px solid white;
    padding: 0;
    margin: 0;
    border-top: 1px solid white;
    background-color: rgb(30,30,30);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}
ol {
    padding: 0;
    margin: 0;
}

#track-pane::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
#track-pane::-webkit-scrollbar-track {
    background-color: rgb(21, 21, 21);
    border-radius: 8px;
}
#track-pane::-webkit-scrollbar-thumb {
    background-color: #2dff77;
    border-radius: 20px;
    border: 2px solid transparent;
    height: 1.5rem;
    background-clip: padding-box;
}

#no-tracks {
    min-height: 60svh;
    min-width: 60svw;
    border-left: 1px solid white;
    text-align: center;
    vertical-align: middle;
    line-height: 60svh;
    background-color: rgb(30,30,30);
}
