button {
    align-items: center;
    background-clip: padding-box;
    background-color: #191414;
    border: 3px solid #1DB954;
    border-radius: .25rem;
    box-shadow: rgba(174, 218, 158, 0.3) 0px 0px 8px 0px;
    box-sizing: border-box;
    color: #1DB954;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    min-width: 12rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    margin: 0.5rem;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}
    
button:hover,
button:focus {
    background-color: #1DB954;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
    transform: translateY(-1px);
}

button:active {
    background-color: #1DB954;
    color: black;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.button-gray {
    background-color: rgb(60,60,60);
}

.button-gray:hover {
    background-color: rgb(60,60,60);
}
